@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Poppins-Regular.ttf";
    src: local("fonts"),
     url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    }
    

    
    
